.heading1 {
    padding: 10px;
    color: "#000d1a";
}

.text {
    padding: 10px;
    color: rgb(65, 64, 64);
    line-height: 35px;
}

.indexing {
    background-color: rgb(60, 53, 54);
    color: whitesmoke;
}