@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Roboto+Slab:wght@600&display=swap");
.heading1 {
  padding: 10px;
  color: "#000d1a";
  font-family: "Roboto Slab", serif;
}

.text {
  padding: 10px;
  color: black;
  line-height: 35px;
  font-family: "Open Sans", sans-serif;
  font-align: justify;
  font-size: 20px;
  text-align: justify;
}

.indexing {
  background-color: rgb(60, 53, 54);
  color: whitesmoke;
}

.row {
  //background-color: rgb(60, 53, 54);
  margin-left: 60px;
  margin-right: 60px;
  margin-top: 15px;
}

.box {
  background-color: pink;
}
